* {
    box-sizing: border-box;
}

body {
    color: navajowhite;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 10px 5px;
    text-align: center;
}

nav {
    float: left;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

    nav ul {
        margin-top: 0px;
        list-style-type: none;
        margin: 0px;
        padding: 0px 10px;
    }

        nav ul li {
            border-bottom: 1px solid #f1f1f1;
            padding-top: 8px;
            padding-bottom: 4px;
        }

article {
    float: left;
    width: 60%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

aside {
    padding: 12px;
    float: left;
    width: 20%;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    color: ghostwhite;
    text-align: center;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    article {
        width: 80%;
        padding: 0;
    }

    aside {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    nav, article, aside {
        width: 100%;
    }
}
