* {
    box-sizing: border-box;
}

body {
    color: navajowhite;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding:30px;
    text-align: center;
}

nav.menu {
    float: left;
    width: 20%;
    padding: 20px;
}

nav.main ul.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

.right {
    background-color: hsla(308, 100%, 50%, 0.40);
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}


